.navbar-details {
  height: 80px;
}
.active-link {
  text-decoration: none;
  width: 0 auto;
  margin-left: 20px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
}
.link {
  text-decoration: none;
  width: 0 auto;
  margin-left: 20px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
}
.link:hover {
  color: #1b4388;
}
